@page "/site-building"
@using Microsoft.Extensions.Localization
@using global::Dignite.SiteBuilding.Localization
@inject IStringLocalizer<SiteBuildingResource> L
@{
}
<h1>SiteBuilding</h1>
<p>@L["SamplePageMessage"]</p>
<div style="min-height:1500px;"></div>
<footer class="page-footer">
    <hr />
    footer
</footer>