@page
@using Microsoft.Extensions.Localization
@using Dignite.SiteBuilding.Localization
@model Dignite.SiteBuilding.Web.Pages.SiteBuilding.IndexModel
@inject IStringLocalizer<SiteBuildingResource> L
@{
}
<h1>SiteBuilding</h1>
<p>@L["SamplePageMessage"]</p>
