@using Dignite.SiteBuilding.Sections

<a href="@(string.Format("/site-building/admin/sections/{0}/entries", Data.As<SectionDto>().Id))">
    @(Data.As<SectionDto>().DisplayName)
</a>


@code {    
    [Parameter] public object Data { get; set; }
}
