@page
@using Microsoft.Extensions.Localization
@using Dignite.Cms.Localization
@model Dignite.Cms.Web.Pages.Cms.IndexModel
@inject IStringLocalizer<CmsResource> L
@{
}
<h1>Cms</h1>
<p>@L["SamplePageMessage"]</p>
